html{
    font-size: 62.5%;
}
body{
    margin: 0;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
header{
    text-align: center;
    text-transform: uppercase;
    background-color: #B3D4FC;
    padding: 1em;
    font-size: 2em;
}
ul{
    list-style: none;
    text-align: center;
    font-size: 2em;
}
li{
    padding: 2em;
    border: solid 1px black;
    margin: 0.5em;
    position: relative;


}
.buttonGroup{
    position: absolute;
    right: -1.5em;
    top: 30%;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer{
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
    padding: 2em;
    background-color: #B3D4FC;
}